<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="64x64" href="{{ "/assets/favicon64x64" | relative_url }}">
  <link rel="icon" type="image/png" sizes="48x48" href="{{ "/assets/favicon48x48" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon16x16" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon200x200" | relative_url }}">
</head>
