#result {
	color: #6C6C6C;
	font-family: Sans-serif,"Times New Roman";

}

#result h3{
	color: #6C6C6C;
}
#result li{
	height: 25px;
	list-style:none;
	padding: 3px 15px;
}
#result li:hover{
	background-color: 	#d0d0d0;
}
#result a{
	 color: #4F4F4F;
	 text-decoration:none;
	 font-size: 15px;
}
#result a:hover{
	display: inline-block;
	position: absolute;
	border: 1px solid #d0d0d0;
}
