---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'head';

div#contact{
	height: 32px;
	width: 100%;
	display: block;
	margin: 20px 0 0 0;
}

div#contact-wrap{
	width: 208px;
	height: 32px;
	margin: 0 auto;
}
div#contact-wrap a,div#contact-wrap img{
	display: inline-block;
	margin: 0 5px;
	float: left;
	border: none;
	opacity: 0.7;
}
div#contact-wrap a:hover{
	opacity: 1;
}